.node-box {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  // text-align: center;
  // min-height: calc(100vh - 6.25rem);
  margin-top: 6.1875rem;

  .title {
    color: #2AD9FF;
    text-align: center;
    text-shadow: 0px 1px 8.9px #482AFF;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.44px;
    text-transform: capitalize;
  }

  .title-info {
    text-align: center;
    text-shadow: 0px 1px 8.9px #482AFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
  }
}

.node-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.1875rem;
  margin-top: 3.5625rem;
}

.node-main-con {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 4.25rem 5.5rem 5.0625rem;
  border-radius: 2.5rem;
  background: linear-gradient(180deg, rgba(69, 69, 177, 0.02) -23.73%, rgba(46, 46, 142, 0.20) 115.35%);

  /* 111 */
  backdrop-filter: blur(9px);

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);


    width: 47.375rem;
    height: 46.625rem;
    background: url('/images/good_bg.png');
    background-size: cover;

    // flex-shrink: 0;
    // border-radius: 100%;
    // background: rgba(42, 140, 255, 0.07);
    // filter: blur(3.5rem);
  }

  &>* {
    position: relative;
  }
}

.node-main-info {
  width: 273px;

  .block-btn {
    width: 100%;
    margin-top: 1.5625rem;
  }
}

.node-intro {
  position: relative;
  width: 270px;


  .circle-bg {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 5.375rem;
    border-radius: 100%;

    border: .0938rem solid transparent;
    background-image: linear-gradient(#1C1D21, #1C1D21),
      linear-gradient(180deg, rgba(72, 42, 255, 0) 23%, rgba(42, 217, 255, 1) 40%, rgba(42, 217, 255, 0) 80%);


    background-origin: border-box;
    background-clip: padding-box,
      border-box;


  }

  .con {
    position: relative;
    padding: 3.875rem 2.1875rem 2.375rem;
    border-radius: 1.25rem;
    border: .0938rem solid transparent;
    background: linear-gradient(180deg, rgba(24, 22, 21, 1), rgba(28, 28, 46, 1)),
      linear-gradient(180deg, rgba(255, 223, 176, 1), rgba(42, 217, 255, 1));
    box-shadow: 0px 0px .8125rem 0px #482AFF;
    backdrop-filter: blur(1.25rem);
    background-origin: border-box;
    background-clip: padding-box,
      border-box;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 100%;
      background: linear-gradient(180deg, #5B5654 0%, #292937 96.6%);

      filter: blur(1.25rem);

    }

    &>* {
      position: relative;
    }

  }


  .node-goods {
    margin-bottom: 3.125rem;
  }

  span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: lighter;
  }
}

.node-numb {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>p {
    height: 1em;
    line-height: 1;
    margin-top: .625rem;
    color: #2AD9FF;
    font-size: 16px;
  }

  & .btns-box {
    margin-top: 3.125rem;
  }
}

.my-info {
  position: relative;
  z-index: 1;
  border-radius: 1.125rem;
  background: linear-gradient(180deg, rgba(69, 69, 177, 0.07) 16.1%, rgba(82, 82, 245, 0.20) 115.35%);
  backdrop-filter: blur(9px);
  padding-bottom: 2.0625rem;


  h4 {
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: 1.125rem 1.125rem 0 0;
    background: rgba(50, 47, 92, 0.30);
    font-size: 18px;
    text-align: center;
  }

  ul {
    margin: 1.625rem 1rem 0;

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      padding: 1rem 1.125rem;
      border-radius: 10px;

      &:hover {
        background: rgba(42, 166, 255, 0.08);

        .stake-pop {
          display: block;
        }

      }


      p {
        color: #2AD9FF;
      }

      span {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .stake-pop-box {
        cursor: pointer;
      }

      // .stake-pop-box:hover .stake-pop {
      //   display: block;
      // }

      .stake-pop {
        z-index: 1;
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        margin-top: 1rem;
        border-radius: 1.25rem;
        padding: 1.625rem;
        width: 115%;
        border: 1px solid #2AD9FF;
        background: rgba(28, 29, 33, 0.9);
        box-shadow: 0px 0px 13px 0px #482AFF;
        backdrop-filter: blur(1.25rem);


        .pop-arrow {
          position: absolute;
          top: 0;
          left: 5rem;
          width: 1rem;
          height: 1rem;
          overflow: hidden;
          pointer-events: none;
          transform: translateY(-2.1rem);



          &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            width: 1rem;
            height: 1rem;

            border: 1px solid #2AD9FF;
            background: rgba(28, 29, 33, 1);

            /* 边框 */
            box-shadow: 0px 0px 1rem 0px #482AFF;
            transform: translateY(0.5rem) rotate(45deg);
          }
        }

        &>p {
          font-size: 14px;
          color: #2AD9FF;
        }

        &>div {
          display: flex;
          margin-top: 1.25rem;
          align-items: center;
          justify-content: space-between;

          strong {
            color: #2AD9FF;

          }
        }
      }
    }
  }

  .price {
    margin: 1.875rem .875rem 0;
  }
}

.stake-pop-box {
  position: relative;
}


@media screen and (max-width:860px) {
  .node-main {
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    .node-main-con,
    .node-main-info {
      width: 100%;
    }
  }

  .progress-big-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

  }
}

@media screen and (max-width:700px) {
  .node-main-con {
    flex-wrap: wrap;

    .node-intro {
      margin: 0 auto;
    }

    .node-numb {
      width: 100%;
      margin-top: 3.75rem;
      flex: auto;
    }
  }
}