.node-box {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  // text-align: center;
  // min-height: calc(100vh - 6.25rem);
  margin-top: 6.1875rem;

  .title {
    color: #2AD9FF;
    text-align: center;
    text-shadow: 0px 1px 8.9px #482AFF;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.44px;
    text-transform: capitalize;
  }

  .title-info {
    text-align: center;
    text-shadow: 0px 1px 8.9px #482AFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
  }
}

.node-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.1875rem;
  margin-top: 3.5625rem;
}

.node-main-con {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 4.25rem 5.5rem 5.0625rem;
  border-radius: 2.5rem;
  background: linear-gradient(180deg, rgba(69, 69, 177, 0.02) -23.73%, rgba(46, 46, 142, 0.20) 115.35%);

  /* 111 */
  backdrop-filter: blur(9px);

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20%, -20%);
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 100%;
    background: rgba(42, 140, 255, 0.07);
    filter: blur(3.5rem);
  }

  &>* {
    position: relative;
  }
}

.node-main-info {
  width: 273px;

  .block-btn {
    width: 100%;
    margin-top: 1.5625rem;
  }
}

.node-intro {
  position: relative;
  width: 270px;


  .circle-bg {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 5.375rem;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(72, 42, 255, 0), rgba(42, 217, 255, 1), rgba(42, 217, 255, 0));
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);


    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      pointer-events: none;
      background: #1C1D21;
      border-radius: 100%;
    }

  }

  .con {
    position: relative;
    padding: 3.875rem 2.1875rem 2.375rem;
    border-radius: 1.25rem;
    border: 2px solid #FFDFB0;
    background: linear-gradient(180deg, rgba(19, 12, 3, 0.64) -5.1%, rgba(19, 12, 3, 0.00) 119.71%);
    box-shadow: 0px 0px .8125rem 0px #482AFF;
    backdrop-filter: blur(1.25rem);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 100%;
      // background: linear-gradient(180deg, #FFF -47.77%, rgba(255, 255, 255, 0.00) 104.19%);

    }

    &>* {
      position: relative;
    }

  }


  .node-goods {
    margin-bottom: 3.125rem;
  }

  span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: lighter;
  }
}

.node-numb {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>p {
    height: 1em;
    line-height: 1;
    margin-top: .625rem;
    color: #2AD9FF;
    font-size: 16px;
  }

  & .btns-box {
    margin-top: 3.125rem;
  }
}

.my-info {
  border-radius: 1.125rem;
  background: linear-gradient(180deg, rgba(69, 69, 177, 0.07) 16.1%, rgba(82, 82, 245, 0.20) 115.35%);
  backdrop-filter: blur(9px);
  padding-bottom: 2.0625rem;


  h4 {
    height: 3.75rem;
    line-height: 3.75rem;
    border-radius: 1.125rem 1.125rem 0 0;
    background: rgba(50, 47, 92, 0.30);
    font-size: 18px;
    text-align: center;
  }

  ul {
    margin: 1.625rem 2.25rem 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      &+li {
        margin-top: 1.875rem;
      }

      p {
        color: #2AD9FF;
      }

      span {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .stake-pop-box {
        cursor: pointer;
      }

      .stake-pop-box:hover .stake-pop {
        display: block;
      }

      .stake-pop {
        display: none;
        position: absolute;
        right: -2.5rem;
        bottom: 100%;
        margin-bottom: .625rem;
        border-radius: 1.25rem;
        padding: 2.5rem 1.25rem 1.875rem;
        border: 1px solid #2AD9FF;
        background: rgba(28, 29, 33, 0.9);
        box-shadow: 0px 0px 13px 0px #482AFF;
        backdrop-filter: blur(1.25rem);
        white-space: nowrap;

        .pop-arrow {
          position: absolute;
          top: 100%;
          right: 2.5rem;
        }

        &>p {
          font-size: 18px;
          color: #fff;
        }

        &>div {
          display: flex;
          margin-top: 1.25rem;
          align-items: center;
          justify-content: space-between;

          strong {
            color: #2AD9FF;

          }
        }
      }
    }
  }

  .price {
    margin: 1.875rem .875rem 0;
  }
}

.stake-pop-box {
  position: relative;
}


@media screen and (max-width:860px) {
  .node-main {
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    .node-main-con,
    .node-main-info {
      width: 100%;
    }
  }
}