.connect {
  display: inline-flex;
  padding: .75rem 1.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 3.625rem;
  border: 1.625px solid rgba(255, 255, 255, 0.33);

  backdrop-filter: blur(1rem);

  &:hover {
    background: rgba(198, 199, 219, 0.05);
  }
}

.connected {
  display: inline-flex;
  align-items: center;
  border-radius: 3.625rem;
  border: 1.625px solid rgba(255, 255, 255, 0.33);
  background: #1C1D21;
  backdrop-filter: blur(1rem);

  &>div {
    padding: .75rem 1.5rem;
    display: flex;
    align-items: center;
    gap: .625rem;

    &+div {
      border-left: 1.625px solid rgba(255, 255, 255, 0.33);
      cursor: pointer;
    }
  }

  ul {
    position: absolute;
    right: 1.25rem;
    top: 100%;
    margin-top: .625rem;
    border-radius: .625rem;
    border: 1.625px solid rgba(255, 255, 255, 0.33);
    background: rgba(28, 29, 33, 0.80);
    box-shadow: 0px 4px 4.6px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(3.6500000953674316px);

    li {
      padding: .6875rem .9375rem;
      cursor: pointer;

      &+li {
        border-top: 1.625px solid rgba(255, 255, 255, 0.33);
      }
    }
  }
}