.fw300 {
  font-weight: 300 !important;
}
.fw400 {
  font-weight: 400 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw600 {
  font-weight: 600 !important;
}
.fw700 {
  font-weight: 700 !important;
}
.fw800 {
  font-weight: 800 !important;
}
.fw900 {
  font-weight: 900 !important;
}
.fz8 {
  font-size: 8px !important;
}
.fz9 {
  font-size: 9px !important;
}
.fz10 {
  font-size: 10px !important;
}
.fz12 {
  font-size: 12px !important;
}
.fz14 {
  font-size: 14px !important;
}
.fz16 {
  font-size: 16px !important;
}
.fz18 {
  font-size: 18px !important;
}
.fz20 {
  font-size: 20px !important;
}
.fz22 {
  font-size: 22px !important;
}
.fz24 {
  font-size: 24px !important;
}
.fz26 {
  font-size: 26px !important;
}
.fz28 {
  font-size: 28px !important;
}
.fz30 {
  font-size: 30px !important;
}
.fz32 {
  font-size: 32px !important;
}
.fz34 {
  font-size: 34px !important;
}
.fz36 {
  font-size: 36px !important;
}
.fz38 {
  font-size: 38px !important;
}
.fz40 {
  font-size: 40px !important;
}
.fz42 {
  font-size: 42px !important;
}
.fz48 {
  font-size: 48px !important;
}
.fz58 {
  font-size: 58px !important;
}
.fz64 {
  font-size: 64px !important;
}
.fz68 {
  font-size: 68px !important;
}
.fz72 {
  font-size: 80px !important;
}
.fz80 {
  font-size: 80px !important;
}
.fz88 {
  font-size: 88px !important;
}
.fz116 {
  font-size: 116px !important;
}

.br4 {
  border-radius: 4px !important ;
}
.br6 {
  border-radius: 6px !important ;
}
.br8 {
  border-radius: 8px !important ;
}
.br10 {
  border-radius: 10px !important ;
}
.br12 {
  border-radius: 12px !important ;
}
.br16 {
  border-radius: 16px !important ;
}
.br20 {
  border-radius: 20px !important ;
}
.br24 {
  border-radius: 24px !important ;
}
.br50 {
  border-radius: 50% !important;
}

.white {
  color: white !important;
}
.white3 {
  color: rgba(193, 193, 193, 1) !important;
}
.white9 {
  color: rgba(255, 255, 255, 0.9) !important;
}
.white8 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.color1 {
  color: #C55FDB !important;
}
.pink {
  color: rgb(153, 143, 209) !important
}
.blue {
  color: rgb(101, 154, 255) !important
}
.green {
  color: rgb(38, 255, 165) !important;
}
.purple {
  color: rgb(246, 98, 249) !important;
}
.blueviolet {
  color: rgb(110, 58, 255) !important;
}
.gray {
  color: rgb(60, 47, 111) !important;
<<<<<<< HEAD
}
.lilac {
  color: rgb(185, 174, 255) !important;
=======
>>>>>>> a1781ff026e393f4552c0c22d640b40df8fac869
}