.rank-list-box {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 8rem);

}

.rank-list-con {
  position: relative;
  max-width: 804px;
  width: 100%;
  min-height: calc(100vh - 15rem);


  &>.con {
    width: 100%;
    padding: 3.125rem 1.875rem;
    border-radius: 1.875rem;
    border: 1px solid #2AD9FF;
    background: rgba(28, 28, 43, 0.20);

    box-shadow: 0px 0px 1.625rem 0px #482AFF;
    backdrop-filter: blur(1.25rem);
  }

  .circle-bg {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 8.375rem;
    border-radius: 100%;

    border: .0938rem solid transparent;
    background-image: linear-gradient(#1C1D21, #1C1D21),
      linear-gradient(180deg, rgba(72, 42, 255, 0) 23%, rgba(42, 217, 255, 1) 40%, rgba(42, 217, 255, 0) 80%);
    background-origin: border-box;
    background-clip: padding-box,
      border-box;
  }

  table {
    display: block;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tr th,
    tr td {
      font-size: 18px;
      padding: 1.093rem 0;
      word-break: break-all;
    }

    tr th {
      font-size: 20px;
    }

    tr th:nth-child(2),
    tr td:nth-child(2) {
      padding-left: .9375rem;
      padding-right: .9375rem;
      color: rgba(42, 217, 255, 0.80);
    }
  }
}

@media screen and (max-width:1200px) {
  .rank-list-con {
    table {
      tr th {
        font-size: 16px;
      }

      tr td {
        font-size: 14px;

      }
    }

  }
}

@media screen and (max-width:640px) {
  .rank-list-con {
    table {
      tr th {
        font-size: 14px;
      }

      tr td {
        font-size: 12px;

      }
    }

  }
}

@media screen and (max-width:804px) {
  .rank-list-box {
    min-height: auto;
  }



  .rank-list-con {
    &>.con {

      min-height: auto;
      padding: 4rem 0;
      border-radius: 0;
      border: none;
      background: transparent;

      box-shadow: none;
    }

    .circle-bg {
      display: none;
    }
  }
}