.faq-box {
  margin-top: 8.75rem;
  padding-bottom: 1.875rem;
  min-height: 80vh;

  &::before {
    z-index: -1;
    content: ' ';
    width: 41.8125rem;
    height: 42.75rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/images/faq_bg.png");
    background-size: cover;
  }
}

.faq-box-h2 {
  margin-bottom: 2.5rem;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 1px 8.9px #482AFF;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  text-transform: capitalize;
}