@font-face {
  font-family: Poppins;
  // src: url(“icofont.eot”);
  src: url("/font/poppins.ttf") format("truetype");
}

.main-box {

  max-width: 1200px;
  padding: 1px 0;
}

:root {
  --nav-size: 18px;
  background-color: #1C1D21;
  color: #fff;
}

html {
  height: 100%;
}

em {
  font-style: normal;
}

body {
  min-height: 100%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  overflow-x: hidden;

  &.star {
    background: url("/images/star_bg.png");
    background-repeat: repeat;
    background-size: 1836px 654px;
  }

  /* CSS */
  ::-webkit-scrollbar {
    width: 8px;
    /* 水平滚动条宽度 */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    /* 滚动条背景色 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
    /* 滑块颜色 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    /* 悬停时滑块颜色 */
  }

}


.lit-btn {
  display: inline-flex;
  min-width: 16.25rem;
  height: 5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.625rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.33);
  background: #482AFF;
  backdrop-filter: blur(1rem);
  color: #FFF;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  transition: all .1s;

  &.small {
    min-width: 13.125rem;
    height: 3.375rem;
    border-radius: .9375rem;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.30);
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(1rem);
    cursor: not-allowed;

    &:hover,
    &:active,
    &:visited {
      color: rgba(255, 255, 255, 0.30);
      background: none;
      box-shadow: none;
    }
  }

  &:hover {
    background: #FFF;
    color: #000;
    box-shadow: 0px 5px 10px 0px #482AFF;
  }

  &:active,
  &:visited {
    color: #000;
    background: #FFF;
  }
}

.price-btn {
  display: flex;
  min-width: 13.125rem;
  height: 3.375rem;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: .9375rem;
  border: 0.1rem solid #482AFF;
  background: rgba(45, 42, 154, 0.30);
  backdrop-filter: blur(1rem);
  color: #FFF;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  transition: all .1s;
  cursor: pointer;

  &.small {
    justify-content: center;
    height: 3.25rem;
    gap: 1.875rem;
  }

  p {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }

  &:hover,
  &:active,
  &:visited {
    background: #482AFF;
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:visited {
      background: rgba(45, 42, 154, 0.30);
    }
  }
}

// theme
.cur-input-number.ant-input-number {
  background-color: transparent;
  text-align: center;
  width: 6.5625rem;
  height: 3.375rem;
  color: #fff;
  font-size: 1.25rem;
  margin: 0 4.9375rem;
  border-radius: .75rem;

  .ant-input-number-input-wrap {
    height: 100%;

    .ant-input-number-input {
      padding: 0;
      height: 100%;
      color: #fff;
      text-align: center;
    }
  }

  .ant-input-number-handler-wrap {
    position: static;
    background: none;
    width: auto;
    height: auto;

    .ant-input-number-handler {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 2.5625rem;
      transform: translateY(-50%);
      width: 2.375rem;
      height: 2.375rem;
      background: #482AFF;
      border-radius: 100%;
      border: 1px solid rgba(255, 255, 255, 0.10);
      color: #fff;

      &:hover {
        background: #fff;

        .ant-input-number-handler-up-inner,
        .ant-input-number-handler-down-inner {
          color: #000;
        }
      }

      &:active,
      &:visited {
        background: #482AFF;

        .ant-input-number-handler-up-inner,
        .ant-input-number-handler-down-inner {
          color: #fff;
        }
      }

      &.ant-input-number-handler-down {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 2.5625rem;
      }

      .ant-input-number-handler-up-inner,
      .ant-input-number-handler-down-inner {
        color: #fff;
      }
    }


    .ant-input-number-handler-up-disabled,
    .ant-input-number-handler-down-disabled {
      background: #313349;

      &:hover {
        background: #313349;

        .ant-input-number-handler-up-inner,
        .ant-input-number-handler-down-inner {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .ant-input-number-handler-up-inner,
      .ant-input-number-handler-down-inner {
        color: rgba(255, 255, 255, 0.5);
      }

    }
  }
}

.tips-pop {
  position: absolute;
  right: 1.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.625rem;
  border-radius: .9375rem;
  background: rgba(61, 55, 122, 0.30);
  color: #2AD9FF;
  font-size: 18px;
  gap: 1.125rem;

  &.error {
    color: rgba(224, 133, 133, 0.90);

  }

  p {
    max-width: 200px;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.2;
  }
}

.circle-bg {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 8.375rem;
  border-radius: 100%;
  background: linear-gradient(0deg, rgba(72, 42, 255, 0), rgba(42, 217, 255, 1), rgba(42, 217, 255, 0));
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    pointer-events: none;
    background: #1C1D21;
    border-radius: 100%;
  }
}

.ant-modal-mask.cur-modal-mask {
  background: rgba(28, 28, 43, 0.20);
  backdrop-filter: blur(17.5px);
}

.ant-modal-wrap.cur-modal-box {
  &.tools-modal-box .ant-modal-content {

    border: 1px solid #B679C5;

    .tools-money {
      margin-top: .625rem;
      color: #8D71FF;
      text-align: center;
    }

    .tools-bd {
      width: 80%;
      height: 17.875rem;
      margin: 3.125rem auto;
      overflow: auto;

      .no-data {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .tools-btn {
      width: 80%;
      margin: 0 auto;
      color: #fff;
    }
  }

  .ant-modal-content {
    padding: 3rem 4.0625rem 3.0625rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(42, 217, 255, 0.65);
    background: #1D1E27;

    /* 边框 */
    box-shadow: 0px 0px 13px 0px #482AFF;
    backdrop-filter: blur(20px);

    .ant-modal-close {
      top: 3.625rem;
      right: 4.0625rem;
      color: rgba(95, 100, 108, 1);

    }

  }

  .cur-modal-body {
    h4 {
      color: #FFF;

      text-shadow: 0px 1px 8.9px #482AFF;

      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.96px;
      text-transform: capitalize;
      text-align: center;

      &.mid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.0625rem;
      }
    }

    ul {
      position: relative;
      padding: 1.3125rem 1.6875rem;
      margin: 1.0625rem 0 .9375rem;
      border-radius: .625rem;
      background: rgba(44, 43, 79, 0.20);
      overflow: hidden;

      &::before,
      &::after {
        content: '';
        position: absolute;
        flex-shrink: 0;
        filter: blur(3.125rem);
      }

      &::before {
        left: 0;
        top: -50%;
        width: 7.5625rem;
        height: 6.875rem;
        background: rgba(75, 166, 250, 0.20);
      }

      &::after {
        right: 0;
        bottom: -50%;
        width: 11.25rem;
        height: 5.625rem;
        background: rgba(75, 92, 250, 0.20);
      }

      li {
        position: relative;
        padding-left: 15px;
        color: rgba(255, 255, 255, 0.80);
        font-size: 14px;

        strong {
          color: #2AD9FF;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 5px;
          height: 5px;
          background: rgba(255, 255, 255, 0.80);
          border-radius: 100%;
        }
      }
    }

    &.inivte .new-list-box {
      .item {
        justify-content: space-around;
      }


      p,
      strong {
        flex: 0 0 25%;
        width: auto;
        text-align: center;
      }
    }

    .new-list-box {
      padding: 3.125rem 2.8125rem;
      border-radius: .625rem;
      background: #212233;

      .invite-box {
        margin: 5.625rem auto 0;
        text-align: center;
      }

      .invite-less {
        display: inline-block;
        padding: 1.875rem;
        border-radius: .9375rem;
        background: #1D1E27;
        backdrop-filter: blur(4.550000190734863px);
        font-size: 14px;
        color: #fff;

        strong {
          color: #2AD9FF;
        }

        .s-item {
          text-align: center;

          span {
            display: inline-block;
            width: 30px;
            height: 5px;
            margin: 0 3px;
            background: rgba(217, 217, 217, .1);
            border-radius: 3px;

          }

          &.last-1 {
            span:nth-child(1) {
              background: rgba(42, 217, 255, 1);
            }

            span:nth-child(2) {
              background: rgba(42, 217, 255, 1);
            }
          }

          &.last-2 {
            span:nth-child(1) {
              background: rgba(42, 217, 255, 1);
            }

          }

          &.last-0 {
            span {
              background: rgba(42, 217, 255, 1);
            }
          }
        }

      }

      .invite-tab {
        margin: -3.125rem 0 1.875rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
          padding-top: 1.6875rem;
          position: relative;
          color: rgba(255, 255, 255, 0.30);
          font-size: 1.25rem;
          cursor: pointer;

          &::before,
          &::after {
            display: none;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          &::before {
            width: 8.375rem;
            height: 2px;
            background: linear-gradient(90deg, rgba(42, 217, 255, 0.00) 7.6%, #2AD9FF 46%, rgba(42, 217, 255, 0.00) 91.86%);
          }

          &::after {
            height: 2.9375rem;
            width: 5rem;
            flex-shrink: 0;
            background: linear-gradient(180deg, rgba(42, 217, 255, 0.17) 0%, rgba(74, 58, 255, 0.00) 100%);
            transform: perspective(0.5em) rotateX(3deg) translateX(-50%);
            filter: blur(.625rem);
          }

          &.active {
            font-weight: bold;
            color: #fff;

            &::before,
            &::after {
              display: block;
            }
          }

          &.disabled {
            color: rgba(255, 255, 255, 0.10);
            cursor: not-allowed;
          }
        }
      }

      .score-main {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: auto;

        &>div {
          width: 40%;
        }

        p {
          width: auto;
          color: #2AD9FF;
          font-size: 1.5rem;

          &+p {
            margin-top: 1.25rem;
          }
        }

        img {
          max-width: 15.625rem;
          width: 40%;
        }
      }


      .item {
        padding: .625rem 0;
      }

      .con {
        min-height: 18.75rem;
        max-height: calc((1em + 2.1rem) * 10);
        overflow: auto;

        .no-data {
          margin-top: 7.5rem;
        }
      }

      strong {
        text-align: left;
      }

      p {
        width: 150px;
      }

    }

    table {
      display: block;
      width: 100%;
      table-layout: fixed;
      overflow: hidden;
      color: #fff;

      thead,
      tbody,
      tr {
        width: 100%;
      }

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }

      tr th,
      tr td {
        font-size: 18px;
        padding: .6rem 0;
        word-break: break-all;
      }

      tr td {
        color: rgba(255, 255, 255, 0.80);
      }

      tr th {
        font-size: 18px;
      }

      tr th:nth-child(1),
      tr td:nth-child(1) {
        padding-right: 3.56rem;
        color: rgba(42, 217, 255, 0.80);
      }
    }
  }

  .suc-modal-body {
    .suc {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;

      p {
        font-weight: lighter;
      }
    }

    .hammer,
    .suc {
      margin-top: 3.125rem;
      color: #fff;

      strong {
        display: block;
        text-shadow: 0px 1px 8.9px #482AFF;
        font-size: 1.75rem;
        font-weight: 600;
        text-transform: capitalize;
      }

    }

    .hammer-bd {
      &>div {
        margin-top: 1.875rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;


        em {
          font-style: normal;
          color: #2AD9FF;
        }

      }
    }


    .price-btn {
      margin: 2.5rem auto 0;
    }
  }
}


.ant-collapse.lit-collapse {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  border-radius: .9375rem;
  overflow: hidden;

  .ant-collapse-item-active {
    .ant-collapse-header {
      background: linear-gradient(119deg, rgba(153, 135, 204, 0.15) 7.24%, rgba(49, 51, 73, 0.00) 118.98%);
      border-radius: 0;
    }
  }

  .ant-collapse-header {
    padding: 1.25rem 2.5rem;
    background: linear-gradient(90deg, rgba(205, 198, 221, 0.03) 0.02%, rgba(151, 125, 251, 0.00) 101.41%);
    // backdrop-filter: blur(25.549999237060547px);
  }

  .ant-collapse-content-box {
    padding: 2.5rem 2.5rem;
    position: relative;
    background: linear-gradient(91deg, rgba(152, 102, 215, 0.07) 19.69%, rgba(16, 36, 34, 0.04) 101.98%);
    // backdrop-filter: blur(25.549999237060547px);
    color: #9F8FC1;

    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translateX(-50%);
      width: 42.375rem;
      height: 5.5625rem;
      flex-shrink: 0;
      border-radius: 100%;
      background: rgba(143, 125, 251, 0.10);
      filter: blur(8.800000190734863px);
    }
  }
}

.no-data {
  color: rgba(255, 255, 255, 0.28);
  font-size: 1.5rem;
  text-align: center;

}

.nav-title {
  position: relative;
  font-size: var(--nav-size);

  &:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    width: 2.375rem;
    height: .125rem;
    background: transparent;
    border-radius: 2px;
    transform: translate(-50%, .1875rem);
  }

  &.active:after {
    background: #482AFF;
  }
}

.new-list-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;



  .item {
    display: flex;
    font-size: 18px;
    padding: 1.093rem 0;
    word-break: break-all;

    &.first {
      font-size: 20px;
    }

    p,
    strong {
      text-align: center;
    }

    p {
      width: 100px;
      flex-shrink: 0;
      color: #fff;
    }

    strong {
      flex: 1;
      padding-left: .9375rem;
      padding-right: .9375rem;
      color: rgba(42, 217, 255, 0.80);
    }


  }
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  span {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #2AD9FF;
    animation: turn 0.6s infinite linear;

    &:last-child {
      animation-delay: .3s;
    }
  }
}

@media screen and (max-width:1200px) {


  :root {
    --nav-size: 16px;

  }

  html {
    font-size: 12px;
  }

  .main-box {

    width: 100vw;
    overflow: hidden;
  }

  .tips-pop {
    font-size: 16px;
  }

  .cur-modal-box {
    table {
      tr th {
        font-size: 16px;
      }

      tr td {
        font-size: 14px;

      }
    }

  }

  .ant-collapse.lit-collapse {
    font-size: 18px;
  }

  .new-list-box {
    .item {
      font-size: 14px;

      &.first {
        font-size: 16px;
      }
    }
  }
}



@media screen and (max-width:640px) {
  :root {
    --nav-size: 14px;

  }

  html {
    font-size: 8px;
  }

  .tips-pop {
    font-size: 14px;
  }

  .cur-modal-box {
    table {
      tr th {
        font-size: 14px;
      }

      tr td {
        font-size: 12px;

      }
    }

  }

  .new-list-box {
    .item {
      font-size: 12px;

      &.first {
        font-size: 14px;
      }
    }
  }

  .ant-collapse.lit-collapse {
    width: 95%;
    font-size: 14px;
  }

  .ant-modal-wrap.cur-modal-box .ant-modal-content {
    max-height: 80vh;
    padding: 15px;
    overflow: hidden;

    .ant-modal-close {
      top: 15px;
      right: 15px;
    }

    .cur-modal-body {
      height: calc(80vh - 30px);
      overflow: hidden;
      display: flex;
      flex-direction: column;

      h4,
      ul {
        flex-shrink: 0;
      }

      .new-list-box {
        height: auto;
        overflow: hidden;

        .con {
          max-height: none;
          height: auto;
          flex: 1;
        }
      }
    }
  }
}

.anticon-spin {
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}


.open {
  transition: all 0.5s;

  &.yes {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes turn {
  100% {
    background: #482AFF;
  }
}

@keyframes turn {
  100% {
    background: #482AFF;
  }
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}