.big-ball-ball {
  position: relative;
  margin-top: 3.125rem;
  // margin-bottom: 2rem;

  .all-pro-box {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0 0;

    .title-info {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      color: #2AD9FF;
      text-shadow: 0px 1px 8.9px #482AFF;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .copy-box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 12.5%;

    .ball {
      z-index: 1;
      position: absolute;

      transform: translate(-50%, -50%);

      &.ball2>span {
        animation-delay: 0.3s;
      }

      &.ball3>span {
        animation-delay: 0.6s;
      }

      &>span {
        display: block;
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        background-color: #FFF;
        filter: drop-shadow(0px 0px 4px #FFF);
        border-radius: 100%;
        cursor: pointer;

        -webkit-animation: shin 1s infinite linear;
        animation: shin 1s infinite linear;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        &>span {
          background-color: #2AD9FF;
          filter: drop-shadow(0px 0px 4px #2AD9FF);
          animation: none;
        }

        .in {
          display: block;
        }
      }

      &.lastball {

        &>span,
        &:hover>span {
          filter: none;
          background: none;
          animation: none;

        }
      }

      &.phase-ball {

        &>span,
        &:hover>span {

          animation: none;

        }
      }


      .in {
        display: none;
        left: 50%;
        bottom: 100%;
        padding: .625rem 1.125rem;
        transform: translateX(-50%);
        margin-bottom: 1.25rem;
        position: absolute;
        border-radius: 10px;
        border: 1px solid #2AD9FF;
        background: rgba(35, 36, 46, 0.10);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        white-space: nowrap;
        text-align: center;
      }


      &.passed {
        &>span {
          background-color: #1C1D21;
          border: 1px solid #2AD9FF;
          filter: drop-shadow(0px 0px 4px #482AFF);
          animation: none;
        }

      }

    }
  }
}


.hidden-box {
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
}

.progress-line-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 12.5%;


  .big-box {
    aspect-ratio: 1 / 1;
    width: 295%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);


    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: .0938rem solid transparent;
      background-image: linear-gradient(#0D0D1F, #0D0D1F),
        linear-gradient(180deg, rgba(42, 217, 255, 1), #0D0D1F 2.5%);
      background-origin: border-box;
      background-clip: padding-box,
        border-box;
      backdrop-filter: blur(1.25rem);
    }

    &::before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: linear-gradient(180deg, rgba(42, 89, 255, 0.50) -0.16%, rgba(26, 27, 31, 0.00) 2%);

    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 94%;
      height: 100%;
      border-radius: 100%;
      box-shadow: 0 0 15px 0px rgba(72, 42, 255, 1);
    }
  }


}

.progress-line-img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.free-ball {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);

  span {
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(180deg, #482AFF 38.33%, #2AD9FF 124.44%);
    filter: drop-shadow(0px 2px 8.3px #4A3AFF);
    border-radius: 100%;

    &::before {
      content: ' ';
      position: absolute;
      top: 100%;
      right: 0;
      width: 2.5625rem;
      height: 1.75rem;
      flex-shrink: 0;
      background: linear-gradient(180deg, rgba(72, 42, 255, 0.30) 0%, rgba(62, 210, 242, 0.14) 100%);
      filter: blur(7.699999809265137px);
    }
  }


  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    white-space: nowrap;
  }
}

@keyframes shin {
  100% {
    opacity: 0.5;
    transform: scale(0.5);
  }
}